.venv/
__pycache__/
*.pyc
tests/dummy_project/build-*/
tests/artifacts/
testcases/*/build-*/
testcases/*/build/
.history/
CLAUDE.md
.claude
DeadFeatureDetector_Report.aux
DeadFeatureDetector_Report.log
DeadFeatureDetector_Report.out
DeadFeatureDetector_Report.toc
DeadFeatureDetector_Report.pdf
DeadFeatureDetector_Report.tex